.cookie {
    display: grid;
    grid-template-columns: 1fr min-content;

    background-color: var(--beta);
    color: var(--delta);
    padding: 12rem;
    position: relative;
    width: 100%;
    bottom: 0rem;
}

a {
  text-decoration: underline;
}