.cookie {
    display: grid;
    grid-template-columns: 1fr min-content;

    background-color: var(--beta);
    color: var(--delta);
    margin-top: 5rem;
    padding: 12rem;
    position: fixed;
    width: 100%;
    bottom: 40rem;
    z-index: 100;

    a {
      text-decoration: underline;
    }
}

